body{
    font-family: Verdana;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
h1{
    color: #333;
    text-align: center;
}
#todo-form {
    display: flex;
    margin-bottom: 20px;
}

#todo-input{
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
}
button{
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 16px;
}
button:hover{
    background-color: lawngreen;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    padding: 10px;
    margin-bottom: 5px;
    background-color:#f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-btn{
    background-color: red;
}
.delete-btn:hover{
    background-color: darkred;
}
.completed{
    text-decoration: line-through;
    color: gray;
}